/*===== VARIABLES CSS =====*/
:root{
    --nav-width: 92px;
  
    /*===== Colores =====*/
    --first-color: #0C5DF4;
    --bg-color: #12192C;
    --sub-color: #B6CEFC;
    --white-color: #FFF;
    
    /*===== Fuente y tipografia =====*/
    --body-font: 'Poppins', sans-serif;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    
    /*===== z index =====*/
    --z-fixed: 100;
  }
  
  
  /*===== BASE =====*/
  *,::before,::after{
    box-sizing: border-box;
  }
  body{
    position: relative;
    margin: 0;
    padding: 2rem 0 0 6.75rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
  }
  h1{
    margin: 0;
  }
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  a{
    text-decoration: none;
  }
  
  /*===== l NAV =====*/
  .l-navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--white-color);
    padding: 1.5rem 1.5rem 2rem;
    transition: .5s;
    z-index: var(--z-fixed);
  }
  
  /*===== NAV =====*/
  .nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }
  .nav__brand{
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }
  .nav__toggle{
    font-size: 1.25rem;
    padding: .75rem;
    cursor: pointer;
  }
  .nav__logo{
    color: var(--white-color);
    font-weight: 600;
  }
  
  .nav__link{
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: .75rem;
    padding: .75rem;
    color: var(--white-color);
    border-radius: .5rem;
    margin-bottom: 1rem;
    transition: .3s;
    cursor: pointer;
  }
  .nav__link:hover{
    background-color: var(--first-color);
  }
  .nav__icon{
    font-size: 1.25rem;
  }
  .nav__name{
    font-size: var(--small-font-size);
  }
  
  /*Expander menu*/
  .expander{
    width: calc(var(--nav-width) + 9.25rem);
  }
  
  /*Add padding body*/
  .body-pd{
    padding: 2rem 0 0 16rem;
  }
  
  /*Active links menu*/
  .active{
    background-color: var(--first-color);
  }
  
  /*===== COLLAPSE =====*/
  .collapse{
    grid-template-columns: 20px max-content 1fr;
  }
  .collapse__link{
    justify-self: flex-end;
    transition: .5s;
  }
  .collapse__menu{
    display: none;
    padding: .75rem 2.25rem;
  }
  .collapse__sublink{
    color: var(--sub-color);
    font-size: var(--small-font-size);
  }
  .collapse__sublink:hover{
    color: var(--white-color);
  }
  
  /*Show collapse*/
  .showCollapse{
    display: block;
  }
  
  /*Rotate icon*/
  .rotate{
    transform: rotate(180deg);
  }

  .input-file{
    margin-top: 20px;
  }
  /*
  .container form .user-details{
    display: flex;
    flex-direction: column;
  }

  textarea{
    resize: none;
    min-width: 600px;
    width: 100%;
  }

  input{
    width: 600px;
  }

  */

  .box{
    max-width: 760px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    background-color:#f9f9f9;
}


.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}


form .user-details .input-box{
  margin: 20px 0 12px 0;
  width: calc(100%);
}

textarea{
  resize: none;
  width: calc(100%);
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);
}

.title{
  font-size: 25px;
  font-weight: 500;
}

form .button{
  height: 45px;
  margin: 45px 0;
  display: flex;
  justify-content: center;
}

form .button input{
  width: 400px;
  cursor: pointer;
}
  
.teste{
  background-color: red;
  width: 200px;
  height: 200px;
}